/* [class*="col"]{
    background-color: rgba(137, 43, 226, 0.499);
    border: 1px solid #000;
    min-height: 100px;
} */

body{
    height: 100vh;
}

main, #dashboard-content{
    height: calc(100% - 54px);
    overflow: auto;
}


.icon-container.d-flex i {
    padding: 0px 6px;
};

input.form-control.me-2 {
    background-color: lightgray;
}

header{
    background-color: #f8f9fa;
}

#sidebar{
    height: 100%;
    width: 70px;
    background-image: url('../img/sidebar-bg.png');
    background-size: cover;
    background-color: #061e34;
    color: #fff;
    padding: 8px;
    transition: 0.3s;
}

#sidebar ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0px;
}

#sidebar span{
    margin-left: 8px;
}

#dashboard-content{
    width: calc(100vw - 70px);
}

.badge{
    border-radius: 50px!important;
}
.custom_pill_color{
    background-color: #165bba;
    
}

.breadcrumb li:not(li:first-child){
    margin-right: 4px;
}

.breadcrumb-item+.breadcrumb-item::before{
    content: "»"!important;
    color: #fff!important;
}

.offcanvas_controller i{
    font-size: 40px;
}

div#staticBackdrop{
    min-width: 40%!important;
}




/* media query lg */
@media only screen and (min-width: 992px){
    #dashboard-content{
        width: calc(100vw - 150px);
    }

    #sidebar{
        height: 100%;
        width: 150px;
    }
}

.card th:not(th:first-child), .card td:not(td:first-child){
    text-align: center;
}